<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79654548800-131298iehsafsl1jendq2f61qq3im07h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79654548800-131298iehsafsl1jendq2f61qq3im07h</string>
	<key>API_KEY</key>
	<string>AIzaSyAz97adg7B1uM_TNlMsGNtG-u05guDCmnc</string>
	<key>GCM_SENDER_ID</key>
	<string>79654548800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icons.myrsaapp</string>
	<key>PROJECT_ID</key>
	<string>myrsa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>myrsa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79654548800:ios:86a8f38fc1c42d7336f6a5</string>
</dict>
</plist>